@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  float: none;
  font-family: 'Noto Sans', sans-serif;
  display: fixed;
}
#container {
  padding-top: 70%;
  padding-bottom: 70%;
  margin: auto;
}